# Supabase Configuration
SUPABASE_URL=https://mbijjcpkflglumzybund.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iaWpqY3BrZmxnbHVtenlidW5kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYxNjk0OTQsImV4cCI6MjA4MTc0NTQ5NH0.M86M4dXm_AP_7ZQXujlHfVPutMolktSb_m32eKOhDZw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iaWpqY3BrZmxnbHVtenlidW5kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjE2OTQ5NCwiZXhwIjoyMDgxNzQ1NDk0fQ.lZ6VeJn3shTgRJHy-bjhAEcI8AOqGPpSe2F2RuInYXY

# Server Configuration
PORT=3000
NODE_ENV=development

# SendGrid Configuration (default, can be overridden per user)
SENDGRID_API_KEY=your_default_sendgrid_api_key
SENDGRID_FROM_EMAIL=noreply@example.com

# Vondera Configuration
VONDERA_CLIENT_ID=8yf0ewh08few32ur320r3r32
VONDERA_CLIENT_SECRET=832h3232ufnfn02n02n2dwe
VONDERA_APP_ID=2d3A5TAQ46WOibghLokA
VONDERA_LOCALE=en
VONDERA_TIMEZONE=Africa/Cairo
